.register {
  width: 100%;
    display: flex;
    justify-content: center;
    /* outline: red solid 2px; */
}

.frm_wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: blue solid 2px; */
}

#frm {
  width: 60%;
  /* outline: green solid 2px; */
}

#frm input {
  width: 100%;
  height: 25px;
}

#frm .btn_wrap {
  width: 100%;
  display: flex;
  justify-content: right;
  /* outline: green solid 2px;  */
}
#frm button {
  width: 90px;
  height: 25px;
}
